<button tuiButton type="button" size="m" (click)="showDialog()">Show</button>
<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Добавить элемент', size: 's' }"
  [(tuiDialog)]="open"
>
  <form [formGroup]="popupForm" (ngSubmit)="observer.complete()">
    <p>Добавьте название, описание и дату выполнения</p>
    <tui-input tuiAutoFocus formControlName="nameFieldForm" name="name">
      Название
    </tui-input>
    <tui-input
      tuiAutoFocus
      formControlName="descriptionFieldForm"
      name="descriprion"
    >
      Описание
    </tui-input>
    <inputDateTime
      name="completionDate"
      formControlName="completionDateFieldForm"
    ></inputDateTime>
    <p>
      <button tuiButton type="submit" (click)="onSubmit()">Ok</button>
    </p>
  </form>
</ng-template>
