<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Данные элемента', size: 's' }"
  [(tuiDialog)]="popupIsOpened"
  ><viewInfo-popup-component
    [item]="item"
    [observer]="observer"
  ></viewInfo-popup-component
></ng-template>

<input type="text" [(ngModel)]="nameFilter" placeholder="Name" />
<input type="date" [(ngModel)]="dateFromFilter" placeholder="Date from" />
<input type="date" [(ngModel)]="dateToFilter" placeholder="Date to" />

<table tuiTable [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh></th>
      <th tuiTh>Name</th>
      <th tuiTh>creationDate</th>
      <th tuiTh>completionDate</th>
      <th tuiTh [sorter]="null"></th>
    </tr>
  </thead>
  <tbody *tuiLet="items" tuiTbody [data]="items">
    <tr
      *ngFor="
        let item of items | filter : nameFilter : dateFromFilter : dateToFilter;
        let index = index
      "
      tuiTr
    >
      <td *tuiCell="'move'" tuiTd>
        <dropdown-component
          [itemsArr]="items"
          [itemsIndex]="index"
        ></dropdown-component>
      </td>
      <td *tuiCell="'name'" tuiTd (click)="openDialog(item)" class="rowButton">
        {{ item.name }}
      </td>
      <td
        *tuiCell="'creationDate'"
        tuiTd
        (click)="openDialog(item)"
        class="rowButton"
      >
        {{ item.creationDateString }}
      </td>
      <td
        *tuiCell="'completionDate'"
        tuiTd
        (click)="openDialog(item)"
        class="rowButton"
      >
        <div>{{ item.completionDateString }}</div>
      </td>
      <td *tuiCell="'actions'" tuiTd>
        <button
          tuiIconButton
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Remove"
          shape="rounded"
          type="button"
          class="remove"
          (click)="remove(item)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
