<ng-template let-observer [(tuiDialog)]="popupIsOpened">
  <h1 class="popupHeader" i18n>Element</h1>
  <viewInfo-popup-component
    [item]="item"
    [observer]="observer"
  ></viewInfo-popup-component
></ng-template>

<h1 class="tableHeader" i18n>Filters</h1>

<table class="sortingTable" tuiTable>
  <thead>
    <tr tuiThGroup>
      <th tuiTh i18n>Name</th>
      <th tuiTh i18n>Completion Date From</th>
      <th tuiTh i18n>Completion Date To</th>
    </tr>
  </thead>
  <tbody tuiTbody>
    <tr>
      <td tuiTd>
        <input
          class="sortingTable__filterField"
          type="text"
          [(ngModel)]="nameFilter"
          placeholder="Name"
        />
      </td>
      <td tuiTd>
        <input
          class="sortingTable__filterField"
          type="date"
          [(ngModel)]="dateFromFilter"
          placeholder="Date from"
          type="date"
        />
      </td>
      <td tuiTd>
        <input
          class="sortingTable__filterField"
          type="date"
          [(ngModel)]="dateToFilter"
          placeholder="Date to"
        />
      </td>
    </tr>
  </tbody>
</table>

<h1 class="tableHeader" i18n>Elements</h1>

<table class="dataTable" tuiTable [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh></th>
      <th tuiTh i18n>Name</th>
      <th tuiTh i18n>Creation Date</th>
      <th tuiTh i18n>Completion Date</th>
    </tr>
  </thead>
  <tbody *tuiLet="items" tuiTbody [data]="items">
    <tr
      *ngFor="
        let item of items | filter : nameFilter : dateFromFilter : dateToFilter;
        let index = index
      "
      tuiTr
    >
      <td *tuiCell="'move'" tuiTd>
        <dropdown-component
          [itemsArr]="items"
          [itemsIndex]="index"
        ></dropdown-component>
      </td>
      <td *tuiCell="'name'" tuiTd (click)="openDialog(item)" class="rowButton">
        {{ item.name }}
      </td>
      <td
        *tuiCell="'creationDate'"
        tuiTd
        (click)="openDialog(item)"
        class="rowButton"
      >
        {{ item.creationDateString }}
      </td>
      <td
        *tuiCell="'completionDate'"
        tuiTd
        (click)="openDialog(item)"
        class="rowButton"
      >
        <div>{{ item.completionDateString }}</div>
      </td>
    </tr>
  </tbody>
</table>
