.rowButton {
  cursor: pointer;
}

.dataTable,
.sortingTable {
  margin: 1rem;
}

.sortingTable__filterField {
  border-width: 0;
  padding: 0.7rem;
  outline: none;
}

.popupHeader {
  font-size: 2rem;
}

.tableHeader {
  margin-left: 5rem;
}
