<form [formGroup]="viewInfoPopupForm" (ngSubmit)="observer.complete()">
  <tui-input
    tuiAutoFocus
    formControlName="viewNameFieldForm"
    name="name"
    [(ngModel)]="item.name"
    [readOnly]="true"
  >
    Название
  </tui-input>

  <tui-text-area
    formControlName="viewDescriptionFieldForm"
    name="descriprion"
    [expandable]="true"
    [rows]="8"
    [(ngModel)]="item.description"
    [readOnly]="true"
    >Описание</tui-text-area
  >
  <tui-input
    tuiAutoFocus
    formControlName="viewCreationDateFieldForm"
    name="creationDate"
    [(ngModel)]="item.creationDateString"
    [readOnly]="true"
  >
    Дата создания
  </tui-input>
  <tui-input
    tuiAutoFocus
    formControlName="viewCompletionDateFieldForm"
    name="completionDate"
    [(ngModel)]="item.completionDateString"
    [readOnly]="true"
  >
    Дата завершения
  </tui-input>
  <p>
    <button tuiButton type="submit">Ok</button>
  </p>
</form>
